# Ignore node_modules in all directories
node_modules/
**/node_modules/
# Ignore .github directory at the root
.github/
# Ignore dist folders in all directories
dist/
**/dist/
# Ignore @mf-types folders in all directories
**/@mf-types/
# Ignore .__mf__temp folders in all directories
**/.__mf__temp/
# Ignore coverage folders in all subdirectories
**/coverage/
mfe_cli/templates/
