
// Color palette
$navy-blue: #03045e;
$dark-blue: #023e8a;
$star-command-blue: #0077b6;
$pacific-blue: #0096c7;
$cerulean: #00b4d8;
$sky-blue: #48cae4;
$light-sky-blue: #90e0ef;
$blizzard-blue: #ade8f4;
$white-blue: #caf0f8;
