@import './theme.scss';
@import './Button.scss';
@import './TextField.scss';
@import './Modal.scss';

.react-aria-Dialog {
  outline: none;
  max-height: inherit;
  box-sizing: border-box;
  overflow: auto;
  min-width: 300px;
  padding: 1rem;
  .react-aria-Heading[slot='title'] {
    line-height: 1em;
    margin-top: 0;
  }
}
